<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,175},{279,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,47}}</string>
                <key>sourceSize</key>
                <string>{279,47}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,954},{200,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,48}}</string>
                <key>sourceSize</key>
                <string>{200,48}</string>
            </dict>
            <key>500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,387},{370,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,47}}</string>
                <key>sourceSize</key>
                <string>{370,47}</string>
            </dict>
            <key>VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,869},{121,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,64}}</string>
                <key>sourceSize</key>
                <string>{121,64}</string>
            </dict>
            <key>actor_cannon0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,645},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>actor_cannon0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,905},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>actor_cannon0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,877},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>actor_cannon1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,738},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>actor_cannon1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,600},{132,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,47}}</string>
                <key>sourceSize</key>
                <string>{132,47}</string>
            </dict>
            <key>actor_cannon1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,996},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>actor_cannon2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,611},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>actor_cannon2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,614},{121,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,40}}</string>
                <key>sourceSize</key>
                <string>{121,40}</string>
            </dict>
            <key>actor_cannon2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,450},{56,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,77}}</string>
                <key>sourceSize</key>
                <string>{56,77}</string>
            </dict>
            <key>actor_cannon3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,508},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>actor_cannon3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,490},{122,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,41}}</string>
                <key>sourceSize</key>
                <string>{122,41}</string>
            </dict>
            <key>actor_cannon3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,683},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>bestrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,957},{156,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,61}}</string>
                <key>sourceSize</key>
                <string>{156,61}</string>
            </dict>
            <key>bgxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{477,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,477}}</string>
                <key>sourceSize</key>
                <string>{477,477}</string>
            </dict>
            <key>buff_chongci.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1131},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>buff_define.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1094},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>buff_powerup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1057},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>buff_powerup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1020},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>cxks.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,869},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,899},{225,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,53}}</string>
                <key>sourceSize</key>
                <string>{225,53}</string>
            </dict>
            <key>fhdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,903},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>gameitemaddhp.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,918},{61,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,18}}</string>
                <key>sourceSize</key>
                <string>{61,18}</string>
            </dict>
            <key>gameitemblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,793},{97,102}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{97,102}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>gameitemfireup.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,854},{62,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,18}</string>
            </dict>
            <key>gameitemgemicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,877},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>gameitempriceback.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,954},{63,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,28}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>gamescene_coinslabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,981},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>gamescene_distancelabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,757},{37,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,18}}</string>
                <key>sourceSize</key>
                <string>{37,18}</string>
            </dict>
            <key>gamescene_energyback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,584},{281,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,59}}</string>
                <key>sourceSize</key>
                <string>{281,59}</string>
            </dict>
            <key>gamescene_energybar.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,611},{221,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,16}}</string>
                <key>sourceSize</key>
                <string>{221,16}</string>
            </dict>
            <key>gamescene_hpback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,645},{189,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,49}}</string>
                <key>sourceSize</key>
                <string>{189,49}</string>
            </dict>
            <key>gamescene_hpbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,645},{146,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,16}}</string>
                <key>sourceSize</key>
                <string>{146,16}</string>
            </dict>
            <key>gamescene_meterlabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,834},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>gamescene_numberback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,734},{181,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,34}}</string>
                <key>sourceSize</key>
                <string>{181,34}</string>
            </dict>
            <key>gamescene_pauseicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,996},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>gamescene_scorelabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,737},{37,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,18}}</string>
                <key>sourceSize</key>
                <string>{37,18}</string>
            </dict>
            <key>gantan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,382},{66,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{66,86}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>gantan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,272},{90,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{90,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>gantan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{854,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,171}}</string>
                <key>sourceSize</key>
                <string>{854,171}</string>
            </dict>
            <key>hongzha0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,506},{288,76}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{288,76}}</string>
                <key>sourceSize</key>
                <string>{312,76}</string>
            </dict>
            <key>hongzha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,377},{298,62}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{298,62}}</string>
                <key>sourceSize</key>
                <string>{312,76}</string>
            </dict>
            <key>hongzha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,224},{274,62}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{274,62}}</string>
                <key>sourceSize</key>
                <string>{312,76}</string>
            </dict>
            <key>hongzha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,288},{274,40}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{274,40}}</string>
                <key>sourceSize</key>
                <string>{312,76}</string>
            </dict>
            <key>huafeipoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,273},{59,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,46}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>jbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,628},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>jlz.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,582},{92,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,27}}</string>
                <key>sourceSize</key>
                <string>{92,27}</string>
            </dict>
            <key>julimaxDistance.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,1108},{113,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,22}}</string>
                <key>sourceSize</key>
                <string>{115,24}</string>
            </dict>
            <key>julinextBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,972},{123,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,22}}</string>
                <key>sourceSize</key>
                <string>{125,24}</string>
            </dict>
            <key>jxyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,770},{172,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,60}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>lszg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,943},{124,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,27}}</string>
                <key>sourceSize</key>
                <string>{124,27}</string>
            </dict>
            <key>mi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,530},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>mi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,506},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>num0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1096},{47,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{47,67}}</string>
                <key>sourceSize</key>
                <string>{53,67}</string>
            </dict>
            <key>num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,988},{53,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,67}}</string>
                <key>sourceSize</key>
                <string>{53,67}</string>
            </dict>
            <key>num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1043},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{53,67}</string>
            </dict>
            <key>num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,933},{53,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,67}}</string>
                <key>sourceSize</key>
                <string>{53,67}</string>
            </dict>
            <key>num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1145},{35,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{35,67}}</string>
                <key>sourceSize</key>
                <string>{53,67}</string>
            </dict>
            <key>p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,996},{138,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,110}}</string>
                <key>sourceSize</key>
                <string>{138,110}</string>
            </dict>
            <key>pft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{573,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,95}}</string>
                <key>sourceSize</key>
                <string>{573,95}</string>
            </dict>
            <key>reliveBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,441},{426,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,295}}</string>
                <key>sourceSize</key>
                <string>{426,295}</string>
            </dict>
            <key>relive_back0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,2},{321,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,129}}</string>
                <key>sourceSize</key>
                <string>{321,129}</string>
            </dict>
            <key>relive_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,252},{303,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{303,123}}</string>
                <key>sourceSize</key>
                <string>{321,129}</string>
            </dict>
            <key>relive_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2007,2},{89,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
            <key>reliveblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,362},{126,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,41}}</string>
                <key>sourceSize</key>
                <string>{128,43}</string>
            </dict>
            <key>relivecancelbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,832},{164,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{164,69}}</string>
                <key>sourceSize</key>
                <string>{166,71}</string>
            </dict>
            <key>reliveneedtouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2007,93},{178,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{178,37}}</string>
                <key>sourceSize</key>
                <string>{182,39}</string>
            </dict>
            <key>relivesurebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,711},{164,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{164,69}}</string>
                <key>sourceSize</key>
                <string>{166,71}</string>
            </dict>
            <key>scoreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,334},{264,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,42}}</string>
                <key>sourceSize</key>
                <string>{264,42}</string>
            </dict>
            <key>shandian1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{848,712},{228,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,480}}</string>
                <key>sourceSize</key>
                <string>{228,480}</string>
            </dict>
            <key>shandian2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{849,482},{228,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,480}}</string>
                <key>sourceSize</key>
                <string>{228,480}</string>
            </dict>
            <key>shandian3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{576,362},{228,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,480}}</string>
                <key>sourceSize</key>
                <string>{228,480}</string>
            </dict>
            <key>shandian4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{853,252},{228,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,480}}</string>
                <key>sourceSize</key>
                <string>{228,480}</string>
            </dict>
            <key>skill_back0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1020},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>skill_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,935},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,923},{160,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{160,51}}</string>
                <key>sourceSize</key>
                <string>{162,51}</string>
            </dict>
            <key>sure2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,759},{152,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{152,49}}</string>
                <key>sourceSize</key>
                <string>{162,51}</string>
            </dict>
            <key>tmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,133},{314,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,371}}</string>
                <key>sourceSize</key>
                <string>{314,371}</string>
            </dict>
            <key>toumingBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{824,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{824,248}}</string>
                <key>sourceSize</key>
                <string>{824,248}</string>
            </dict>
            <key>ui_comb0.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,330},{269,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{269,30}}</string>
                <key>sourceSize</key>
                <string>{273,42}</string>
            </dict>
            <key>ui_comb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,696},{185,36}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{185,36}}</string>
                <key>sourceSize</key>
                <string>{273,42}</string>
            </dict>
            <key>ui_comb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,777},{185,36}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{185,36}}</string>
                <key>sourceSize</key>
                <string>{273,42}</string>
            </dict>
            <key>ui_comb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,696},{185,36}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{185,36}}</string>
                <key>sourceSize</key>
                <string>{273,42}</string>
            </dict>
            <key>victory.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,844},{227,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,53}}</string>
                <key>sourceSize</key>
                <string>{227,53}</string>
            </dict>
            <key>warnNumberBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,1132},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>wudizhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{243,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,480}}</string>
                <key>sourceSize</key>
                <string>{243,480}</string>
            </dict>
            <key>xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,734},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>zlyc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,913},{156,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,61}}</string>
                <key>sourceSize</key>
                <string>{156,61}</string>
            </dict>
            <key>ztz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,554},{72,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,23}}</string>
                <key>sourceSize</key>
                <string>{72,23}</string>
            </dict>
            <key>zuanshi20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,252},{133,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{133,42}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>zxjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1004},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>zzpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,810},{198,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,71}}</string>
                <key>sourceSize</key>
                <string>{198,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameLayerResources.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bee721f19e7e4f6e71fe3a81ce7739d6$</string>
            <key>textureFileName</key>
            <string>gameLayerResources.png</string>
        </dict>
    </dict>
</plist>
