<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FlyMachine0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,773},{88,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,85}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>FlyMachine1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,731},{88,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,85}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>FlyMachine2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,686},{88,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,85}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>FlyMachine3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,860},{86,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,85}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,948},{71,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{71,68}</string>
            </dict>
            <key>f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,731},{82,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,259}}</string>
                <key>sourceSize</key>
                <string>{82,265}</string>
            </dict>
            <key>f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,731},{82,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,259}}</string>
                <key>sourceSize</key>
                <string>{82,265}</string>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{82,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,259}}</string>
                <key>sourceSize</key>
                <string>{82,265}</string>
            </dict>
            <key>f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{82,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,259}}</string>
                <key>sourceSize</key>
                <string>{82,265}</string>
            </dict>
            <key>face0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{82,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,259}}</string>
                <key>sourceSize</key>
                <string>{82,265}</string>
            </dict>
            <key>face1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{82,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,259}}</string>
                <key>sourceSize</key>
                <string>{82,265}</string>
            </dict>
            <key>face2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{82,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,259}}</string>
                <key>sourceSize</key>
                <string>{82,265}</string>
            </dict>
            <key>face3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{82,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,259}}</string>
                <key>sourceSize</key>
                <string>{82,265}</string>
            </dict>
            <key>face4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,731},{82,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,259}}</string>
                <key>sourceSize</key>
                <string>{82,265}</string>
            </dict>
            <key>face5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{82,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,259}}</string>
                <key>sourceSize</key>
                <string>{82,265}</string>
            </dict>
            <key>face6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{82,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,259}}</string>
                <key>sourceSize</key>
                <string>{82,265}</string>
            </dict>
            <key>fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,289},{131,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,132}}</string>
                <key>sourceSize</key>
                <string>{131,134}</string>
            </dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,558},{127,126}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{127,126}}</string>
                <key>sourceSize</key>
                <string>{131,134}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,422},{131,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,134}}</string>
                <key>sourceSize</key>
                <string>{131,134}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,558},{127,126}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{127,126}}</string>
                <key>sourceSize</key>
                <string>{131,134}</string>
            </dict>
            <key>gun0.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,48},{229,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{229,102}}</string>
                <key>sourceSize</key>
                <string>{231,102}</string>
            </dict>
            <key>gun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,279},{227,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{227,102}}</string>
                <key>sourceSize</key>
                <string>{231,102}</string>
            </dict>
            <key>gun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,508},{221,102}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{221,102}}</string>
                <key>sourceSize</key>
                <string>{231,102}</string>
            </dict>
            <key>gun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,48},{229,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{229,102}}</string>
                <key>sourceSize</key>
                <string>{231,102}</string>
            </dict>
            <key>machineBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,394}}</string>
                <key>sourceSize</key>
                <string>{285,394}</string>
            </dict>
            <key>missile.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{105,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,44}}</string>
                <key>sourceSize</key>
                <string>{105,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>machineBoss.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b9c33febea19d8153fc3b7dcf32cc17$</string>
            <key>textureFileName</key>
            <string>machineBoss.png</string>
        </dict>
    </dict>
</plist>
