<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gear0.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,626},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{94,98}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
            <key>gear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,511},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{98,100}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
            <key>gear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,509},{102,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{102,94}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
            <key>gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,611},{115,81}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{115,81}}</string>
                <key>sourceSize</key>
                <string>{117,83}</string>
            </dict>
            <key>gunBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,706},{74,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,49}}</string>
                <key>sourceSize</key>
                <string>{74,49}</string>
            </dict>
            <key>gunFire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{117,132}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{117,132}}</string>
                <key>sourceSize</key>
                <string>{129,142}</string>
            </dict>
            <key>gunFire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,733},{117,122}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{117,122}}</string>
                <key>sourceSize</key>
                <string>{129,142}</string>
            </dict>
            <key>gunFire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{129,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,140}}</string>
                <key>sourceSize</key>
                <string>{129,142}</string>
            </dict>
            <key>gunFire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{129,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,142}}</string>
                <key>sourceSize</key>
                <string>{129,142}</string>
            </dict>
            <key>gunFire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>machineFish0.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,218},{208,94}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,27},{208,94}}</string>
                <key>sourceSize</key>
                <string>{236,132}</string>
            </dict>
            <key>machineFish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,305},{202,94}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,26},{202,94}}</string>
                <key>sourceSize</key>
                <string>{236,132}</string>
            </dict>
            <key>machineFish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{214,94}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,25},{214,94}}</string>
                <key>sourceSize</key>
                <string>{236,132}</string>
            </dict>
            <key>machineFish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,305},{204,94}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{204,94}}</string>
                <key>sourceSize</key>
                <string>{236,132}</string>
            </dict>
            <key>machineFish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,428},{196,94}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{196,94}}</string>
                <key>sourceSize</key>
                <string>{236,132}</string>
            </dict>
            <key>machineFish5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{204,94}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{204,94}}</string>
                <key>sourceSize</key>
                <string>{236,132}</string>
            </dict>
            <key>shark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,301}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{398,301}}</string>
                <key>sourceSize</key>
                <string>{408,311}</string>
            </dict>
            <key>sharkBomb0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,631},{54,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{54,73}}</string>
                <key>sourceSize</key>
                <string>{62,81}</string>
            </dict>
            <key>sharkBomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,554},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{54,75}}</string>
                <key>sourceSize</key>
                <string>{62,81}</string>
            </dict>
            <key>sharkBomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,477},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{54,75}}</string>
                <key>sourceSize</key>
                <string>{62,81}</string>
            </dict>
            <key>smoke0.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,728},{72,86}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{72,86}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>smoke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,722},{74,86}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{74,86}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>smoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,798},{76,78}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{76,78}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>smoke3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,401},{74,60}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{74,60}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>smoke4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>weakPoint0.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,876},{115,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,118}}</string>
                <key>sourceSize</key>
                <string>{115,118}</string>
            </dict>
            <key>weakPoint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,852},{115,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,118}}</string>
                <key>sourceSize</key>
                <string>{115,118}</string>
            </dict>
            <key>weakPoint2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{115,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,118}}</string>
                <key>sourceSize</key>
                <string>{115,118}</string>
            </dict>
            <key>weakPoint3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,802},{115,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,118}}</string>
                <key>sourceSize</key>
                <string>{115,118}</string>
            </dict>
            <key>weakPoint4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{115,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,118}}</string>
                <key>sourceSize</key>
                <string>{115,118}</string>
            </dict>
            <key>weakPoint5.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,613},{115,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,118}}</string>
                <key>sourceSize</key>
                <string>{115,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shark.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51364c773cb068b88fd42aa5a2a89a8b$</string>
            <key>textureFileName</key>
            <string>shark.png</string>
        </dict>
    </dict>
</plist>
